# Docker
# ---> PostgreSQL Config
DB_SERVER=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=

# ---> MySQL Config
MYSQL_DB_SERVER=
MYSQL_DB_NAME=
MYSQL_DB_USER=
MYSQL_DB_PASSWORD=
MYSQL_DB_PORT=

# API Settings
API_KEY=
JWT_SECRET=

# SMTP Config
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER_CREDENTIAL=
SMTP_PASSWORD_CREDENTIAL=